.homeContainer {
  min-height: 100vh;
  width: 100vw;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #282e3d; /* match image edge color to fill gaps */
}

.light {
  background-image: url("/img/background2.jpg");
}

.dark {
  background-image: url("/img/background-night2.jpg");
}

.themeToggle {
  position: absolute;
  top: 50px;
  right: 50px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.themeToggle img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
