.homeContainer {
  min-height: 100vh;
  width: 100vw;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #3d4a6b; /* match image edge color to fill gaps */
}

.light {
  background-image: url("/img/background.jpg");
}

.dark {
  background-image: url("/img/background-night.jpg");
}

.themeToggle {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  font-size: 1.5rem;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
